#one {
  margin-left : 50px;
}

#log {
  position : fixed;
  right : 0;
  display : flex;
}

.nav-link {
  font-family: Rubik;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 22px;
}

#on {
  margin-left : 15px;
}

#daftar {
  background: #8BAC3E;
  border-radius: 100px;
  height : 42px;
  width : 137px;
  display : flex;
  justify-content: center;
  align-items: center;
  margin-right : 35px;
}
#daftar2 {
  color : white;
}

#elemes {
  margin-left : 100px;
}

#title {
  border : solid blue 1px;
  height : 280px;
  display : flex;
  flex-direction: row;
}
#left {
  border : solid red 1px;
  height : 100%;
  width : 40%;
  margin-left : 100px;
}

#good {
  color: #8BAC3E;
  font-family: Rubik;
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 64px;
}

#geser {
  position : absolute;
  right : 100px;;
}
#image {
  position: absolute;
  width: 222.9px;
  height: 222.75px;
  margin-left : 200px;
}
#right {
  display : flex;
  align-items: center;
}
#mid {
  border : 1px pink solid;
  width : 100%;
  height : 400px;
}
#top1 {
  margin-left : 100px;
  font-family: Rubik;
font-style: normal;
font-weight: 500;
font-size: 38px;
line-height: 50px;
}

#bottom-text {
  color: #8BAC3E;
}

#bot {
  border : solid blue 1px;
  height : 200px;
  margin-left : 100px;
  display : flex;
  flex-direction: row;
}

#box2 {
  width : 200px;
  height : 172px;
  border-radius: 8px;
  border : solid red 1px;
}
#box3 {
  width : 200px;
  height : 172px;
  border-radius: 8px;
  border : solid red 1px;
}
#box4 {
  width : 200px;
  height : 172px;

  border-radius: 8px;
  border : solid red 1px;
}
#box5 {
  width : 200px;
  height : 172px;
  border-radius: 8px;
  border : solid red 1px;
}
#box1 {
  width : 200px;
  height : 172px;
  border-radius: 8px;
  border : solid red 1px;
}

#food {
  width : 100%;
  width : 200px;
  height : 172px;
}
#pizza {
  width : 100%;
  width : 200px;
  height : 172px;
}
#kebab {
  width : 100%;
  width : 200px;
  height : 172px;
}
#salmon {
  width : 100%;
  width : 200px;
  height : 172px;
}
#donat {
  width : 100%;
  width : 200px;
  height : 172px;
}

#bottom {
  height : 800px;
  border : 2px black solid;
}

#text {
  margin-left : 100px;

}

.img {
  margin : 10px;
}

#bot-text {
  color: #8BAC3E;
}

#atas {
  height : 300px;
  width : 90%;
  border : 2px blue solid;
  margin-left : 100px;
  display : flex;
}
#text-bottom {
  text-align : center;
  border : 2px solid blue;
  background : #8BAC3E;
  width: 160px;
height: 50px;
display : flex;
justify-content: center;
align-items: center;
border-radius: 100px;
color : white;
}

#bottom1 {
  border : solid 2px pink;
  display : flex;
  justify-content: center;
}

#final {
  border : 2px solid blue;
  height : 400px;
}

#el {
  width : 95%;
  margin : auto;
  height : 350px;
  background :#F9FFF6;
  border : 2px solid purple;
  display : flex;
}

#left1 {
  border : black solid 3px;
  width : 40%;
  height : 100%;
  padding : 50px;
}

#left2 {
  border : black solid 3px;
  width : 20%;
  height : 100%;
  padding : 50px;
}
#right2 {
  border : black solid 3px;
  width : 20%;
  height : 100%;
  padding : 50px;
}
#right1 {
  border : black solid 3px;
  width : 20%;
  height : 100%;
  padding : 50px;
}

#send{
  background : #8BAC3E;
  border-radius: 0px 8px 8px 0px;
  color : white;
  width : 60px;
  display : flex;
  justify-content: center;
  align-items: center;
}

#input {
  display : flex;
}

#mail {
  display : flex;
  margin : 10px;
}